# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Environment variables
.env
.env.*
!.env.example

# Build files
/build
/dist
client/build/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/